@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components  {

    .card {
        background-color: theme('colors.dope-white');
        border-radius: theme('borderRadius.3lg');
        padding: theme('spacing.6');
        box-shadow: theme('boxShadow.xl');
        
    }
}

